<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="binding" value="BasicHttpBinding_ICurrencyService"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICurrencyService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1000/CurrencyService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyService"
                contract="CurrencyService.ICurrencyService" name="BasicHttpBinding_ICurrencyService" />
            <endpoint address="http://localhost:1000/CurrencyService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICurrencyService"
                contract="CurrencyService.ICurrencyService" name="WSHttpBinding_ICurrencyService">
                <identity>
                    <servicePrincipalName value="host/_monolith-NB" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>